.presented {
  border: 1px solid white;
  background-color: #FBFEFE;
  text-align: center;
  align-items: center;
  height: 508px;
}

.header {
  margin-top: 80px;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #374b5c;
}

.presented__paragraph {
  margin-top: 80px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 568px;
  height: 42px;
  color: #374b5c;
}

.slides{
    margin-top: 60px !important;
    /* border: 1px solid black ; */
    width: 150px;
    height: 25px;
    /* display: flex; */
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 0 auto;
}

.slides>input{
    border: none;
}